/**
 * Nav
 */

// Inline
nav,
nav ul {
  display: flex;
}

nav {
  justify-content: space-between;

  ul {
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    &:first-of-type {
      margin-left: -$spacing-gutter/2;
    }
    &:last-of-type {
      margin-right: -$spacing-gutter/2;
    }
  }

  li {
    display: inline-block;
    margin: 0;
    padding: $spacing-gutter $spacing-gutter/2;

    // HACK: Input & Button inside Nav
    > *,
    > input:not([type="checkbox"]):not([type="radio"]) {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    margin: -$spacing-gutter (-$spacing-gutter/2);
    padding: $spacing-gutter $spacing-gutter/2;
    border-radius: $round;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    @if $enable-classes {
      &.contrast:not([role="button"]) {
        box-shadow: none;
      }
    }
  }
}

// Vertical Nav
aside {

  nav,
  ul,
  li {
    display: block;
  }

  li {
    padding: $spacing-gutter/2;

    a {
      margin: -$spacing-gutter/2;
      padding: $spacing-gutter/2;
    }
  }
}



nav#mainNav {
  ul:nth-of-type(1) {
    li:nth-of-type(1) {
      display: none;
    }
  }
}

@media (max-width: map-get($breakpoints, "sm")) {

  $homeLinkIconMargin: 0.3em;
  $burgerMenuIconMargin: 0.1em;
  $burgerMenuItemsPadding: .5rem;

  nav#mainNav {
    display: table;
    width: 100%;
    ul {
      display: table-row;
      margin: 0 !important;
      width: 100%;
      li {
        display: none;
      }
    }
  }

  nav#mainNav {
    ul:nth-of-type(1) {
      /* Burger Menu & Home Link */
      li:nth-of-type(1), li:nth-of-type(2)  {
        display: table-column;
        float: right;
        position: relative;
        width: 50%;
      }

      /* Burger Menu */
      li:nth-of-type(1) {
        text-align: right;
        a:focus {
          background: transparent;
        }
        a {
          i.icss-bars {
            margin-top: $burgerMenuIconMargin;
          }
        }
      }

      /* Home Link */
      li:nth-of-type(2) {
        text-align: left;
        a {
          i.icss-home {
            margin-bottom: $homeLinkIconMargin;
          }
        }
      }

      /* Other Links */
      li:not(:nth-of-type(1)):not(:nth-of-type(2)) {
        padding-top: $burgerMenuItemsPadding;
        padding-bottom: $burgerMenuItemsPadding;
      }
    }

    ul:not(:nth-of-type(1)) {
      li {
        padding-top: $burgerMenuItemsPadding;
        padding-bottom: $burgerMenuItemsPadding;
      }
    }
  }

  .responsive {
    overflow: hidden;
    li {
      display: block !important;
    }
  }
}